@import "../helpers/global_variables.scss";

.header {
  
  .header__top {
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white-color;
    background: $top-header-bg;

    .last-news {
      font-size: 0.8rem;
    }

    nav[role="common-info"] {

      ul {
        display: flex;
      }

      li {
        padding: 0 0.8em;
        border-right: 1px solid $white-color;
        font-size: 0.6rem;
      }

      .last-child {
        border-right: none;
      }

      a {
       color: $white-color;
     }

    }

  }

  .header__bottom {
    display: flex;
    align-items: center;
    color: $white-color;
    background: $bottom-header-bg;
    font-size: 1.7rem;
    
    .search {
      position: relative;
      right: 1.2em;

      img {
        width: 100%;
        height: 0.5em;
      }
    }

    nav[role="navigation"] {
       width: 100%;

      li {
        padding:0.5em;
        border-right: 1px solid #0E0E0E;
      }
      
      a {
       color: $white-color;
      }

      .medium-text {
        font-size: 1.2rem;
      }

      .last-child {
        background: #959595;
      }
    }
  }
}
